<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>WEBMICS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <p><img src='../assets/icon/favicon.png' width=128 height=128/></p>
    <p>Bienvenu(e) sur Webmics !<br>
    Pas besoin de remplir un formulaire :</p>
    <p><ion-button (click)="signIn()" slot="start" id = 'facebutton' shape = 'round'>Inscris toi avec ton compte facebook ;)</ion-button></p>
</ion-content>
